// *------------------------------------*\
// Main Style
// *------------------------------------*/

// TOOLS
@import 'tools/_all';


// SETTINGS
@import 'settings/_all';


// GENERIC
@import 'generic/_all';


// VENDOR
@import 'vendor/_all';


// ELEMENTS
@import 'elements/_all';


// OBJECTS
@import 'objects/_all';


// Components
@import 'components/_all';


// TRUMPS
@import 'trumps/_all';

table, th, td {
    border: 1px solid black;
    text-align: left;
    width: 100%;
  }

th {
    background-color: #4CAF50;
    color: white;
  }

tbody tr:nth-child(odd) {
    background: #eee;
    text-align: left;
  }